:root {
  --primary: #DC0000;
  --success: #00AE31;
  --error: #DC0000;

  --interface-bg: #FFFFFF;

  --input-bg: #EFEFEF;
  --input-text: #909090;

  --button-text-primary: #FFFFFF;

  --button-bg-secondary: #DC0000;
  --button-text-secondary: #000;
  --button-border-secondary: #DC0000;

  --text-link: #010101;
}
