.container {
    margin-top: 91px;
}

.text {
    &__number {
        font-family: 'Nitti Normal', sans-serif;
        font-size: 154px;
    }

    &__word {
        font-family: 'Nitti Bold', sans-serif;
        font-size: 39px;
    }
}
