.select {
    width: 40px;
    height: 37px;
    border: 2px solid #C9C9C9;
    border-radius: 10px;
    font-family: 'Lato Bold', sans-serif;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}
