html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: , sans-serif;
}

@font-face {
  font-family: 'Nitti Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Nitti Bold'), url('assets/fonts/nitti/Nitti-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Nitti Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Nitti Normal'), url('assets/fonts/nitti/Nitti-Normal.woff') format('woff');
}
